h3{
    color: lightskyblue;
    background-color: black;
}

h4{
    color: turquoise;
    background-color: rebeccapurple;
}

body{
    /* font-color: blue */
    /* color: red */
    background-color: bisque;
}