/* Static */

.staticDefault{
    position: static;
    background-color: yellowgreen;
    border: 1px solid red;
}

.shape1{
    position: static;
    width: 80px;
    height: 80px;
    background-color:black; 
}

/* Relative */
.relativePosition{
    position: relative;
    background-color: blue;
    border: 1px solid yellow;
    top: 10px;
    right: 20px;
}

.shape2{
    position: relative;
    width: 80px;
    height: 80px;
    background-color:red; 
    bottom: 20px;
}

/* Absolute */
.shape3{
    position: absolute;
    background-color: blueviolet;
    width: 80px;
    height: 80px; 
    bottom: 20px;
}

.shape4{
    position: absolute;
    background-color: yellowgreen;
    width: 40px;
    height: 40px; 
    bottom: 20px;
}

/* Fixed Position */
.fixedposition{
    position:fixed;
    background-color: yellowgreen;
    border: 1px solid red;
    top: 80px;
    left: 50px;

}

/* Sticky Position */
.stickyPosition{
    position: sticky;
    background-color: aqua;
    border: 2px solid black;
    top:120px;
    left:20px;
    height: 40px;
    width:150px;
}